body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffd700;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-section, .signup-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    margin-top: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #ff6666;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff3333;
}

a {
    color: #ff6666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }
